# 国内镜像
registry "https://registry.npm.taobao.org/"
# electron 国内镜像
ELECTRON_MIRROR "https://npm.taobao.org/mirrors/electron/"
# electron-builder 国内镜像
ELECTRON_BUILDER_BINARIES_MIRROR "https://npm.taobao.org/mirrors/electron-builder-binaries/"

ignore-engines true
