
# electron 国内镜像
ELECTRON_MIRROR "https://npmmirror.com/mirrors/electron/"
# electron-builder 国内镜像
ELECTRON_BUILDER_BINARIES_MIRROR "https://npmmirror.com/mirrors/electron-builder-binaries/"

ignore-engines true
